.k-locator-field {
    .leaflet-pane {
    	z-index: 1;
    }

    .leaflet-top, .leaflet-bottom {
    	z-index: 2;
    }

    .leaflet-bar {
        box-shadow:  0px 0px 0px 2px rgba(0, 0, 0, .15) !important;
        border-radius: 3px;
        a:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        a:last-child {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    	background: $color-dark !important;
    	color: $color-white !important;
    	width: 30px !important;
    	height: 30px !important;
        line-height: 28px !important;
        font-size: 19px !important;
    	&:hover {
    		background: lighten($color-dark, 8%) !important;
    	}
    	@media screen and (max-width: $breakpoint-menu) {
    		@include small-controls;
    	}
    }

    .leaflet-control-zoom-in {
    	border-bottom: 1px solid lighten($color-dark, 25%) !important;
    }

    .leaflet-control-attribution {
    	background: lighten($color-background, 2%) !important;
    	color: lighten($color-dark, 40%) !important;
    	a {
    		color: $color-dark;
    	}
    }

    .leaflet-interactive {
    	stroke-width: 0;
    }

    .leaflet-touch .leaflet-control-layers,
    .leaflet-touch .leaflet-bar {
        border: none;
    }
}
