@import 
    'abstracts/_variables.scss';
@import 
    'vendors/_leaflet.scss';
@import 
    'components/_map.scss';


.k-locator-field {

	/* Input
	----------------------------*/

	.k-locator-input {
		display: flex;
		align-items: center;
		button {
			display: block;
			border: none;
			display: inline-block;
			background: $color-dark;
			color: $color-white;
			padding: 0 25px 0 20px;
			height: 2.25rem;
			font-size: $font-size-small;
			outline: 0;
			display: flex;
			align-items: center;
			svg {
				width: 14px;
				height: 14px;
				fill: white;
				margin-right: 10px;
			}
			&.disabled {
				background: darken($color-background, 0%);
				color: darken($color-background, 12%);
				pointer-events: none;
				svg {
					fill: darken($color-background, 12%);
				}
			}
		}
	}


	/* Map
	----------------------------*/

	.map-container {
		position: relative;
		margin-top: 1rem;
		padding-top: 65%;
		.map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}


	/* Content
	----------------------------*/

	.content {
		width: 100%;
		background: white;
		display: flex;
		flex-wrap: wrap;
		padding: 0.25rem 1rem;
		&.columns {
			.content-block {
				position: relative;
				width: 50%;
				padding: 0.75rem 0;
				border-bottom: 1px solid lighten($color-border-light, 2%);
				
				// no border on the nth-last(2) only if it's an odd number,
				// in case there's only one block in the last row
				&:nth-last-child(2):nth-child(odd),
				&:last-child {
					border-bottom: none;
				}
				&:nth-child(odd) {
					padding-right: 1.25rem;
					&:not(:last-child) {
						&:after {
							position: absolute;
							content: " ";
							right: 0;
							top: 1rem;
							height: calc(100% - 2rem);
							width: 1px;
							background: $color-border-light;
						}
					}
				}
				&:nth-child(even) {
					padding-left: 1.25rem;
				}
				.title {
					color: lighten($color-dark, 60%);
					letter-spacing: 0.15px;
					text-transform: uppercase;
					margin-bottom: 3px;
					font-size: $font-size-tiny;
				}
			}
		}
		&.table {
			.content-block {
				position: relative;
				width: 100%;
				padding: 0.5rem 0;
				border-bottom: 1px solid lighten($color-border-light, 2%);
				display: flex;
				align-items: center;
				&:last-child {
					border-bottom: none;
				}
				.title {
					position: relative;
					color: lighten($color-dark, 60%);
					letter-spacing: 0.15px;
					text-transform: uppercase;
					margin-bottom: 3px;
					font-size: $font-size-tiny;
					width: 115px;
					&:after {
						position: absolute;
						content: " ";
						right: 0;
						top: 0;
						height: 100%;
						width: 1px;
						background: $color-border-light;
					}
				}
				.value {
					padding-left: 0.75rem;
				}
			}
		}
	}
	.k-empty {
	    padding: 0;
	    display: flex;
	    align-items: center;
	    flex-direction: row;
	    justify-content: flex-start;
	    border-top: none;
	    .k-icon {
	        width: 38px;
	        height: 38px;
	        border-right: 1px solid #d6d6d6;
	        margin-bottom: 0;
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        svg {
	            width: 14px;
	        }
	    }
	    p {
	        line-height: 1.25rem;
	        padding: .5rem .75rem;
	    }
	}
}