@import
    'abstracts/_variables.scss',
    'abstracts/_mixins.scss';
@import
    'vendors/_leaflet.scss';
@import
    'components/_preview.scss',
    'components/_map.scss';

.k-locator-container {
	border-radius: var(--rounded);
	overflow: hidden;
}

.k-locator-field {
	--text-xxs: .75rem;

    .k-field-header {
    	--icon-size: 16px;
    }

	/* Input
	----------------------------*/

	.k-locator-input {
		position: relative;
		display: flex;
		align-items: center;
		overflow: visible;
		z-index: 3;
		&-inner {
			display: flex;
			align-items: center;
			width: 100%;
		}
		.k-text-input {
			@include text-truncate;
		}
		button {
			border: none;
			background: var(--color-gray-900);
			color: white;
			padding: 0 1.5rem 0 1.25rem;
			height: 2.25rem;
			font-size: var(--text-sm);
			outline: 0;
			display: flex;
			align-items: center;
			gap: .75rem;
			svg {
				width: 14px;
				height: 14px;
				fill: white;
				max-inline-size: none;
			}
			&.disabled {
				background: light-dark(var(--color-gray-100), var(--color-gray-800));
				color: var(--color-gray-400);
				pointer-events: none;
				svg {
					fill: var(--color-gray-400);
				}
			}
		}
		.k-locator-dropdown {
			top: calc(100% + 2px) !important;
			width: 100%;
			display: block;
			.info {
				color: var(--color-gray-500);
				margin-left: 0.25rem;
			}
			&.hidden {
				display: none;
			}
		}
	}


	/* Map
	----------------------------*/

	.map-container {
		position: relative;
		margin-top: 1rem;
		.map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&:not(.closed) {
		.map-container {
			padding-top: 65%;
			@include responsive-height;
		}
	}
    &.closed {
        .map-container.map-only {
            width: 100%;
            padding-top: 35%;
            @include responsive-height;
        }
    }


	/* Content
	----------------------------*/

	.content {
		width: 100%;
		background: white;
		display: flex;
		flex-wrap: wrap;
		padding: 0.25rem 1rem;
		background-color: light-dark(var(--color-gray-100), var(--color-gray-850, var(--color-gray-800)));
		&.columns {
			.content-block {
				position: relative;
				width: 50%;
				padding: 0.75rem 0;
				border-bottom: 1px solid var(--table-color-border);

				// no border on the nth-last(2) only if it's an odd number,
				// in case there's only one block in the last row
				&:nth-last-child(2):nth-child(odd),
				&:last-child {
					border-bottom: none;
				}
				&:nth-child(odd) {
					padding-right: 1.25rem;
					&:not(:last-child) {
						&:after {
							position: absolute;
							content: " ";
							right: 0;
							top: .75rem;
							height: calc(100% - 1.5rem);
							width: 1px;
							background: var(--table-color-border);
						}
					}
				}
				&:nth-child(even) {
					padding-left: 1.25rem;
				}
				.title {
					color: var(--color-gray-600);
					letter-spacing: 0.15px;
					text-transform: uppercase;
					font-size: var(--text-xxs);
				}
				.value {
					margin-top: 0.3rem;
				}
			}
		}
		&.table {
			.content-block {
				position: relative;
				width: 100%;
				padding: 0.5rem 0;
				border-bottom: 1px solid var(--table-color-border);
				display: flex;
				align-items: center;
				&:last-child {
					border-bottom: none;
				}
				.title {
					position: relative;
					color: var(--color-gray-600);
					letter-spacing: 0.15px;
					text-transform: uppercase;
					font-size: var(--text-xxs);
					width: 115px;
					&:after {
						position: absolute;
						content: " ";
						right: 0;
						top: 0;
						height: 100%;
						width: 1px;
						background: var(--table-color-border);
					}
				}
				.value {
					padding-left: 0.75rem;
				}
			}
		}
	}
	.k-empty {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	    border-top: none;
	}


	/* Filled
	----------------------------*/

	&.filled.closed {
		.k-locator-container {
			display: flex;
		}
		.k-locator-input {
			display: none;
		}
		.map-container {
			margin-top: 0;
            pointer-events: none;
			.leaflet-bottom.leaflet-right,
			.leaflet-top.leaflet-left {
				display: none;
			}
            .leaflet-marker-icon {
                cursor: default;
            }

            &:not(.map-only) {
                padding-top: 0;
                width: 200px;
            }
		}
	}
}

.k-locator-error-dialog {
	.k-dialog-buttons {
		grid-template-columns: 1fr;
	}
}


/* Columns adjustments
----------------------------*/

.k-sections > .k-column[data-width="1/1"] {
	.k-locator-field:not(.closed) {
		.map-container {
			padding-top: 35%;
			@include responsive-height;
		}
	}
}

.k-sections > .k-column[data-width="3/4"] {
	.k-locator-field:not(.closed) {
		.map-container {
			padding-top: 45%;
			@include responsive-height;
		}
	}
}

.k-sections > .k-column[data-width="2/3"] {
	.k-locator-field:not(.closed) {
		.map-container {
			padding-top: 50%;
			@include responsive-height;
		}
	}
}

.k-sections > .k-column[data-width="1/3"],
.k-sections > .k-column[data-width="1/4"] {
	.k-locator-field {
		&.filled.closed {
			.k-locator-container {
				display: block
			}
			.k-locator-input {
				display: none;
			}
			.map-container {
				width: 100%;
				padding-top: 50%;
				margin-top: 0;
				.leaflet-bottom.leaflet-right,
				.leaflet-top.leaflet-left {
					display: none;
				}
			}
		}
	}
	.leaflet-control-zoom-in, .leaflet-control-zoom-out {
		@include small-controls;
	}
}
